@charset "UTF-8";
body {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

a {
  color: black;
  font-family: "Yu Mincho";
}
a:hover {
  color: black;
}

p {
  font-family: "Yu Mincho";
}

a:hover {
  text-decoration: none;
}

main {
  font-family: "Yu Mincho";
}

section {
  padding: 60px 20px;
}

#secTitle p {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.6rem;
  color: black;
  margin-bottom: 30px;
  font-family: "Yu Mincho";
  text-align: left;
  width: 100%;
  width: 1100px;
}

#topBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  display: none;
}
#topBtn::before {
  position: absolute;
  content: "";
  display: block;
  top: -20px;
  width: 30px;
  height: 30px;
  border-top: solid 2px aquamarine;
  border-right: solid 2px aquamarine;
  transform: rotate(-45deg);
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0;
  height: 80px;
  background-color: rgba(116, 116, 116, 0.627);
  transition: 0.5s;
  padding: 0 20px;
}
header.slide {
  opacity: 1;
  z-index: 500;
  transition: 0.5s;
}

nav {
  margin: 0;
}
nav ul {
  margin: 0;
}
nav ul li a {
  color: white;
}

#logo {
  width: 150px;
}

#top {
  padding: 0;
  height: 100vh;
}

#topContainer {
  position: relative;
  height: 100vh;
}
#topContainer #topLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 380px;
}

.topSlideInner {
  height: 100vh;
  width: 100%;
}
.topSlideInner img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#scroll {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  color: white;
  position: absolute;
  bottom: 200px;
  left: 40px;
}
#scroll::before {
  position: absolute;
  content: "";
  display: block;
  top: 45px;
  left: 10px;
  height: 210px;
  width: 2px;
  background-color: aquamarine;
  -webkit-animation: scroll 5s ease infinite;
          animation: scroll 5s ease infinite;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(0);
    height: 0;
  }
  25% {
    height: 210px;
    transform: translateY(0);
  }
  50% {
    height: 210px;
    transform: translateY(0);
  }
  75% {
    transform: translateY(210px);
    height: 0;
  }
  100% {
    transform: translateY(210px);
    height: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    height: 0;
  }
  25% {
    height: 210px;
    transform: translateY(0);
  }
  50% {
    height: 210px;
    transform: translateY(0);
  }
  75% {
    transform: translateY(210px);
    height: 0;
  }
  100% {
    transform: translateY(210px);
    height: 0;
  }
}
#intro {
  background-color: #F2F5ED;
}

#inTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.slider .slideItem {
  display: flex;
  justify-content: center;
}
.slider .slideItem .slideInner {
  width: 70%;
}

.choiceInner {
  margin: 20px 10px;
  border: 2px solid aquamarine;
  height: 150px;
}
.choiceInner img {
  opacity: 0.4; /*選択されていないものは透過40%*/
  height: 100%;
}

.slick-current img {
  opacity: 1; /*選択されているものは透過しない*/
}

#msBox {
  width: 100%;
  height: 1000px;
  position: relative;
  background-image: url("img/LINE_ALBUM_築地ｷﾀ━━━━(ﾟ∀ﾟ)━━━━!!_221016.jpg");
  background-size: cover;
}
#msBox::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: rgba(51, 51, 51, 0.6039215686);
  z-index: 100;
}
#msBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 400;
  height: 1000px;
  -o-object-fit: contain;
     object-fit: contain;
}

#lkBox ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 5px 0;
}

.fadein {
  transform: translateY(40px);
  opacity: 0;
  transition: all 0.8s;
}

.fadeIn {
  transform: translateY(0px);
  opacity: 1;
}/*# sourceMappingURL=style.css.map */